* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    /* background: linear-gradient(to right, #F29221, #F29221) !important; */
    background-color: white !important;
}

nav {
    background: #000;
}

nav ul li a {
    color: #F29221 !important
}

.range {
    /* font-size: 72px; */
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, black, brown, red, gray);
    animation: animate 3s linear infinite alternate-reverse;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.category-page {

}

.category-title {
    /* background: radial-gradient(circle, #F29221, #F29221); */
    background: radial-gradient(circle, #F29221,#da9343);

    background-color: #F29221;
    padding: 2rem;

}

.pagination{
    display:flex;
    justify-content: center;
}
.underline {
    width: 10%;
    height: 2px;
    background-image: linear-gradient(to left, magenta, black);
    border-radius: 80px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-image: radial-gradient(rgba(255, 215, 0, 0.7), rgba(0, 0, 0, 0.7));
    height: 0%;
    overflow: hidden;
    transition: all 0.9s;
    opacity: 0;
    /* z-index: 222; */
}

.pic:hover .overlay {
    height: 100%;
    opacity: 1;

}

.catalogue {
    background-image: url('http://impetus.pk/images/cata_img.png');
    background-size: cover;
    background-position: center center;
}

.feature-product {
    background: radial-gradient(circle, #F29221,#da9343);
    color: white;
    padding: 2rem;

}

.input-group {
    transform: skew(-15deg);
}

.my-btn {
    background-image: linear-gradient(to right, #F29221, #F29221);
}

.icons i {
    border: 1px solid gray;
    padding: 0.3rem;
}

footer {
    margin-top: 1rem;
    /* background-image: linear-gradient(to right,#F29221,black); */
    color: white;
    background-color: black;
}